/*  your css code here. If applicable */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
}

.heading > h2 {
  text-align: center;
  color: white;
}

.heading {
  background-color: #011e29;
  padding: 12px;
	text-align: center;
}

.articles_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.latest-news-section{
  width: 215px;
  text-align: center;
}

.pictorial-news-section{
width: 215px;
  text-align: center;
}

h3{
    padding-bottom: 20px;
}
img {
  object-fit: cover;
  height: 100px;
 padding-bottom:12px
}
